<div class="field">

    <div class="card-stack">
        <img *ngFor="let card of [0,1,2,3,4]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="../../assets/img/cards/card_cover.png" alt="">
        <img (click)="takeCard()" style="right: 25px" src="../../assets/img/cards/card_cover.png" alt="">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class=" pick-card" style="right: 25px"
            src="../../assets/img/cards/{{ currentCard }}.png" alt="">

    </div>

</div>